<% include partials/head.ejs %>

<div class="container">
    <div class="mx-auto mt-5  pt-5 text-center">
        <h1>404 Error</h1>
        <p>Page Not Found, back to <a href="/">Homepage</a></p>
    </div>
</div>
<% include partials/end.ejs %>